/* Start Golbal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 12px;
    // height: 200vh;
}
:root{
    --main-cyan-color: #2A93B9;
    --white: #ffffff;
    --light-shadow-color: #aaa;
    --heavy-bg-color: #0001;
    --dark-for-light: #444444;
    --black: #000;
    --gray: #aaa;
    --light-gray: #eee;
    --main-border-radius: 10px;
    --circle-border-radius: 50px;
    --main-transition: 0.3s;
    --long-transition: 0.5s;
    --main-font:  'Lemonada', cursive;
    --margin-top: 60px;
    --little-separator: 20px;
}
.container{
    margin: 0 auto;
    @media (max-width: 768px) {
        padding: 0 15px;
    }
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 920px;
    }
    @media (min-width: 1200px) {
        width: 1130px;
    }
}
/* End Golbal*/
/* Start Main Nav */
.paddinger{
    @media (max-width: 768px) {
        padding-bottom: var(--margin-top);
    }
    nav#main-nav{
        border-bottom: 7px solid var(--main-cyan-color);
        box-shadow:  0 2px 5px var(--light-shadow-color);
        --padding-top: 10px;
        padding:  var(--padding-top) 0;
        background: var(--white);
        @media (max-width: 768px) {
            position: fixed;
            top: 0;
            z-index: 1;
        }
        width: 100%;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .bars{
                display: none;
                cursor: pointer;
                @media (max-width: 768px) {
                    flex-direction: column;
                    display: flex;
                }
                &.active{
                    span{
                        background: red;
                    }
                    :first-child{
                        transform: rotate(25deg);
                    }
                    :nth-child(2){
                        transform: scaleX(1.4) translate(-25%);
                    }
                    :last-child{
                        transform: rotate(-25deg);
                    }
                }
                span{
                    width: 40px;
                    height: 3px;
                    background: var(--main-cyan-color);
                    margin-top: 5px;
                    transition: var(--main-transition)
                }
            }
            ul.options{
                display: flex;
                flex-direction: row;
                font-family: var(--main-font);
                ul.sections{
                    display: none;
                }
                @media (max-width: 768px) {
                    position: fixed;
                    flex-direction: column;
                    top: 60px;
                    background: var(--white);
                    box-shadow: -5px 0 10px var(--light-shadow-color);
                    width: 50%;
                    right: -100%;
                    height: calc(100% - 60px);
                    transition: var(--long-transition);
                    opacity: 0;
                    &.active{
                        opacity: 1;
                        right: 0;
                    }
                    ul.sections{
                        margin-bottom: 50px;
                        display: block;
                    }
                    .border{
                        border-top: 1px solid var(--light-shadow-color);
                    }
                    li{
                        height: 40px;
                        transition: var(--main-transition);
                        border-bottom: 1px solid var(--light-shadow-color);
                        padding: 10px 0;
                        &:hover{
                            background: var(--heavy-bg-color);
                            padding-right: 10px;
                        }
                    }
                }
                @media (max-width: 450px) { 
                    width: 100%;
                }
                    li{
                    position: relative;
                    padding: 10px 0px 10px 10px;
                    cursor: pointer;
                    &::before{
                        content: '';
                        background: var(--white);
                        width: 0;
                        height: 7px;
                        position: absolute;
                        bottom: calc(var(--padding-top) - calc(var(--padding-top) * 2) - 8.7px);
                        left: 0;
                        transition: var(--main-transition);
                    }
                    &:hover:before{
                        width: 100%;
                    }
                    &:hover a,&:hover i{
                        color: var(--main-cyan-color);
                    }
                    a{
                        color: var(--black);
                        text-decoration: none;
                    }
                    i{
                        padding: 0 10px 0 5px;
                        font-size: 1.4rem;
                    }
                }
            }
            ul.features{
                display: flex;
                li :not(input){
                    width:  40px;
                    height: 40px;
                    display: grid;
                    place-items: center;
                    background: var(--main-cyan-color);
                    border-radius: var(--circle-border-radius);
                    color: var(--white);
                    cursor: pointer;
                    margin-left: 10px;
                    font-size: 1.4rem;
                    &#changeTheme:hover{
                        color: var(--main-cyan-color);
                        border: 1px solid var(--main-cyan-color);
                        background: var(--white);
                    } 
                }
                li:first-child{
                    position: relative;
                    border-radius: var(--circle-border-radius);
                    margin-left: 10px;
                    &::after{
                        content: '\f002';
                        font-family: 'Font Awesome 5 Free';
                        font-size: 1.4rem;
                        font-weight: 900;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width:  40px;
                        height: 40px;
                        background: var(--main-cyan-color);
                        border-radius: var(--circle-border-radius);
                        display: grid;
                        place-items: center;
                        color: white;
                    }
                }
                li:first-child input{
                    width:  40px;
                    height: 40px;
                    padding-right: 10px;
                    border-radius: var(--circle-border-radius);
                    transition: var(--main-transition);
                    outline:none;
                    border: 2px solid var(--main-cyan-color);
                    font-family:  var(--main-font);
                }
                li:first-child input[type='text'].active{
                    width: 200px;
                    padding-left: 45px;
                }
            }
        }
    }
}
/* End Main Nav */
/* Start Nav With Logo */
.logo{
    margin-top: var(--little-separator);
    img{
        max-width: 50%;
        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
}
nav.links{
    margin-top: var(--margin-top);
    height: 50px;
    @media (max-width: 768px) {
        display: none;
    }
    .container{
        > ul{
            --home-space: 40px;
            position: relative;
            .home,.home-2{
                height: calc(100% + 3px);
                // height: 100%;
                aspect-ratio: 1/1;
                background: white;
                // border-top: 3px solid    #aaa;
                border-left: 3px solid   #aaa;
                // border-bottom: 3px solid #aaa;
                position: absolute;
                border-radius: var(--circle-border-radius);
                // right: calc(var(--home-space) / 2);
                right: 0;
                top: 50%;
                transform: translateY(-50%) translateX(50%) scale(1.4);
            }
            .home-2{
                background: var(--main-cyan-color);
                transform: translateY(-50%) translateX(65%) scale(1.4);
                border: none;
                display: grid;
                place-items: center;
                font-size: 1.5rem;
                color: white;
                transition: transform var(--main-transition);
                border: 2px solid #a9a9a9;
                // overflow: hidden;
                > svg{
                    position: absolute;
                    transform: scaleX(.2) scaleY(.4);
                    bottom: 10px;
                    left: -3px;
                    display: none;
                }
                &:hover{
                    transform: translateY(-50%) translateX(65%) scale(1.6);
                    background: var(--white);
                    color: var(--main-cyan-color);
                }
                &:hover > svg{
                    display: block;
                }
            }
            margin-right: var(--home-space);
            border: 3px solid var(--light-shadow-color);
            border-end-end-radius: var(--circle-border-radius);
            border-start-end-radius: var(--circle-border-radius);
            display: flex;
            padding-right: var(--home-space);
            > li{
                font-size: 1.2rem;
                border-inline-end: 3px solid var(--light-shadow-color);
                text-transform: uppercase;
                display: flex;
                flex-direction: row-reverse;
                font-family: var(--main-font);
                padding: 10px 5px;
                position: relative;
                color: var(--black);
                font-size: 1.1rem;
                &::before{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 3px;
                    background: var(--color);
                    bottom: 0;
                    left: 0;
                    transition: var(--main-transition);
                }
                &:hover:before{
                    width: 100%;
                }
                a{
                    color: var(--black);
                    text-decoration: none;
                    position: relative;
                    display: block;
                }
                i{
                    padding: 0 5px;
                }
                ul.brunch{
                    position: absolute;
                    background: var(--light-gray);
                    top: 100%;
                    min-width: 100%;
                    left: 0;
                    z-index: 1000000000000000000000000000000000000000000;
                    display: none;
                    flex-direction: column;
                    li{
                        padding: 10px;
                        transition: var(--main-transition);
                        &:hover{
                            padding: 10px 20px;
                            background: var(--light-shadow-color);
                        }
                    }
                    :not(:last-child){
                        border-bottom: 3px solid var(--white);
                    }
                }
                &:hover ul.brunch{
                    display: flex;
                }
            }
        }
    }
}
/* End Nav With Logo */
/* Start Carousel */
header#carousel{
    @media (max-width: 768px) {
        display: none;
    }
    margin-top: var(--little-separator);
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    #next,#prev{
        position: absolute;
        top: 50%;
        font-size: 2.5rem;
        user-select: none;
        color: var(--main-cyan-color);
        border: none;
        padding: 10px;
        transition: var(--main-transition);
        outline: none;
        cursor: pointer;
        &:hover{
            opacity: .8;
        }
    }
    #next{
        left: 0;
        z-index: 10000000000000000000000000;
    }
    #prev{
        right: 0;
    }
    .carousel{
        width: 600px;
        height: 400px;
        position: relative;
        border-radius: var(--main-border-radius);
        overflow: hidden;
        img{
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            min-height: 100%;
            opacity: 0;
            transform: scale(0) rotate(-45deg);
        }
        img.active{
            transition: var(--main-transition);
            opacity: 1;
            transform: scale(1) rotate(0deg);
        }
    }
    #bullets{
        position: absolute;
        background: #0000;
        height: 10%;
        bottom: 0;
        width: 100%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        .bullet{
            width:  20px;
            height: 20px;
            border: 2px solid white;
            margin-left: 10px;
            border-radius: var(--circle-border-radius);
            &.active{
                background: white;
            }
        }
    }
    .container.separator{
        border-bottom: 4px solid var(--dark-for-light);
        margin-top: var(--margin-top);
    }
}
/* End Carousel */
/* Start Last Topics */
section#lastArticles{
    .container{
        > h2{
            padding: 20px 20px 0 0;
            border-right: 10px solid var(--main-cyan-color);
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }
    .container.lastArtcicles{
        font-family: var(--main-font);
        display: flex;
        @media (max-width: 768px) {
            flex-direction: column;
            article{
                flex-direction: column !important;
                width: 100% !important;
                margin: var(--little-separator) 0 !important;
                .text{
                    margin: var(--little-separator) 0 !important;
                    width: 80% !important;
                    footer{
                        margin: var(--little-separator) 0 !important;
                    }
                }
                > a{
                    width: 100% !important;
                    aspect-ratio: 1/.6 !important;
                    .thumnail{
                        width: 100% !important;
                        height: 100% !important;
                        aspect-ratio: 1/.6;
                    }
                }
                *{
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }
            }
        }
        // background: red;
        justify-content: space-between;
        .lastArticlesSide{
            flex: 5;
            article{
                // width: 80%;
                display: flex;
                align-items: center;
                .thumnail{
                    height: 200px;
                    background-size: cover !important;
                    background-position: center !important;
                    border-radius: var(--main-border-radius) !important;
                    background-repeat: no-repeat !important;
                    // background-color: red !important;
                    width: 300px;
                    margin-left: 20px;
                    margin-bottom: var(--little-separator);
                    position: relative;
                    &::before{
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        --filter: 0px;
                        backdrop-filter: blur(var(--filter));
                        -webkit-backdrop-filter: blur(var(--filter));
                        transition: var(--main-transition);
                        border-radius: var(--main-border-radius);
                    }
                    &:hover:before{
                        --filter: 3px;
                        backdrop-filter: blur(var(--filter));
                        -webkit-backdrop-filter: blur(var(--filter));
                    }
                }
                .text{
                    width: 50%;
                    h3{
                        color: var(--black);
                        text-align: center;
                        line-height: 1.5;
                        margin-bottom: 20px;
                    }
                    p{
                        text-align: center;
                        color: var(--dark-for-light);
                        margin: 10px 0;
                    }
                    footer{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        margin-top: var(--little-separator);
                        > *{
                            color: var(--main-cyan-color);
                            text-align: center;
                        }
                        .writer{
                            grid-column: 1/3;
                            margin-top: var(--little-separator);
                        }
                        a{
                            text-decoration: none;
                            transition: var(--main-transition);
                            padding-bottom: 10px;
                            border-bottom: 2px solid transparent;
                            &:hover{
                                border-bottom: 2px solid var(--main-cyan-color);
                            }
                        }
                    }
                }
            }
        }
        .bussenissSide{
            flex: 1;
            h4.title{
                color: var(--black);
                padding: 10px 20px 10px 0;
                border-right: 5px solid var(--main-cyan-color);
            }
            .social{
                .icons{
                    margin: var(--little-separator) 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 100%;
                    aspect-ratio: 1/1;
                    i{
                        display: grid;
                        place-items: center;
                        font-size: 3rem;
                        color: white;
                        transition: var(--main-transition);
                        transform-origin: 0% 0%;
                        &:nth-child(1){
                            background: #1778F2;
                        }
                        &:nth-child(2){
                            background: linear-gradient(225deg, #5C6CB2 , #C22F86, #F05C3C 50%, #F2A454, #FFD676);
                        }
                        &:nth-child(3){
                            background: #05B4FF;
                        }
                        &:nth-child(4){
                            background: #37AEE2;
                        }
                        .first{
                            background: var(--main-cyan-color);
                            display: none;
                        }
                        &:hover{
                            box-shadow: 5px 5px 5px var(--dark-for-light);
                            position: relative;
                            z-index: 100;
                            transform: scale(1.1);
                        }
                    }
                }
                @media (max-width: 768px) {
                    position: fixed;
                    bottom: 20px;
                    left: 20px;
                    .icons{
                        grid-template-columns: 1fr;
                        i{
                            display: none;
                            padding: 10px;
                            border-radius: var(--circle-border-radius) !important;
                            margin-top: 5px;
                            transform-origin: center center;
                            &:hover{
                                transform: scale(1.1);
                                box-shadow: 0 0 0 0 ;
                            }
                        }
                        i.active{
                            display: grid;
                        }
                        .first{
                            display: grid;
                            background: var(--main-cyan-color);
                        }
                    }
                    h4{
                        display: none;
                    }
                }
            }
            .ads{
                .ad{
                    margin: var(--little-separator) 0;
                    width: 100%;
                    @media (max-width: 768px) {
                        width: 60%;
                        margin: auto;
                    }
                    aspect-ratio: 1/1;
                    background: url(http://placehold.it/1000/eee) center;
                    background-size: contain;
                }
            }
        }
        .hashtags{
            max-width: 100%;
            .hashes{
                margin: var(--little-separator) 0;
                display: flex;
                flex-direction: row-reverse;
                border: 2px solid var(--dark-for-light);
                border-radius: var(--main-border-radius);
                flex-wrap: wrap;
                padding: 10px;
                .hash{
                    margin: 5px 5px 0 0 ;
                    padding: 5px;
                    border: 1px solid var(--main-cyan-color);
                    background: var(--main-cyan-color);
                    color: var(--white);
                    border-radius: var(--circle-border-radius);
                    transition: var(--main-transition);
                    font-size: .8rem;
                    cursor: pointer;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
        }
    }
}
/* End Last Topics */