doctype
html
    title Test
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(description="")
    include imports/head.pug
    body(data-index=1)
        a(href='#main-nav').toTop #[i.fas.fa-angle-double-up]
        include imports/nav-with-logo.pug
        script(src='js/article.js')
        script(src='js/icons.js')
        script(src='js/main-nav.js')