doctype
html(lang="ar" dir='rtl')
    include imports/head.pug
        title اتصل بنا
    body
        include imports/main-nav.pug
        section.container#page
            i.fas.fa-headphones.page-icon
            h2.title-page إتصل بنا
            form.page-form
                input(type="text" name="name" placeholder="الاسم *")
                input(type="email" name="email" placeholder="البريد الإلكتروني *")
                textarea(name="message")
                input(type="submit" value="إرسال")
                a(href='index.html').back العودة إلى الرئيسية
        include imports/footer.pug