doctype html
html(lang="en" dir="rtl")
    head
        include imports/head.pug
        title الغابة الذكية | غابة المعرفة
    body
        include imports/nav-with-logo.pug
        //- Start Carousel
        header#carousel
            .carousel
                button#next #[i.fas.fa-angle-double-left]
                img(src="images/carousel/slider-1-min.jpg", alt="dark chair" class='active')
                img(src="images/carousel/slider-3-min.jpg", alt="a car")
                img(src="images/carousel/slider-4-min.jpg", alt="a car")
                img(src="images/carousel/slider-5-min.jpg", alt="a car")
                img(src="images/carousel/slider-6-min.jpg", alt="a car")
                button#prev #[i.fas.fa-angle-double-right]
                #bullets
        //- End Carousel
        