doctype html
html(lang="ar" dir='rtl')
    include imports/head.pug
        title الغابة الذكية | غابة المعرفة
    body#body
        include imports/nav-with-logo.pug
        //- Start Carousel
        header#carousel
            .carousel
                button#next #[i.fas.fa-angle-double-left]
                img(src="images/carousel/slider-1-min.jpg", alt="dark chair" class='active')
                img(src="images/carousel/slider-2-min.jpg", alt="a car")
                img(src="images/carousel/slider-3-min.jpg", alt="a car")
                img(src="images/carousel/slider-4-min.jpg", alt="a car")
                img(src="images/carousel/slider-5-min.jpg", alt="a car")
                button#prev #[i.fas.fa-angle-double-right]
                #bullets
            .container.separator
        //- End Carousel
        //- Start Last Topics
        section#lastArticles
            .container
                h2 آخر المواضيع
            .container.lastArtcicles
                    .lastArticlesSide
                    .bussenissSide
                        .social
                            h4.title Social Media
                            .icons
                                i.fab.fa-facebook
                                i.fab.fa-instagram
                                i.fab.fa-twitter
                                i.fab.fa-telegram-plane
                                i.first.fas.fa-heart
                        .ads
                            h4.title Advertisment
                            .ad
                        .hashtags
                            h4.title Hashtags
                            .hashes
            include imports/counterPages.pug
        include imports/footer.pug
        include imports/toTop.pug
        script(src='js/icons.js')
        script(src='js/carousel.js')
        script(src='js/main.js')
        //- End Last Topics