doctype html
html(lang="en" dir="rtl")
    head
        include imports/head.pug
        title الغابة الذكية | غابة المعرفة
    body
        include imports/main-nav.pug
        script(src="js/components.js")