doctype
html(lang="ar" dir='auto')
    include imports/head.pug
        title سياسة الخصوصية
    body
        include imports/main-nav.pug
        section.container#page
            i.fas.fa-user-lock.page-icon
            h1.title-page سياسة الخصوصية
            p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ducimus iusto nobis quod in unde atque deleniti neque veritatis deserunt hic accusantium, officiis cupiditate error cum impedit ratione omnis, optio reprehenderit ex nemo totam ea. Neque, eligendi asperiores dicta, animi vitae possimus molestiae quisquam ut iure eius corrupti suscipit quia perspiciatis. Provident quis delectus veritatis doloribus unde eius iusto id natus optio est reprehenderit ullam, assumenda fugit ut! Officia voluptates repudiandae nulla omnis ratione ex inventore, voluptatem sequi dolorem molestias eaque quae odio libero modi! Quam, ducimus ex. Est quidem recusandae maxime enim repudiandae fugiat possimus molestias doloribus illum iste.
            form.page-form
                a(href='index.html').back.btn العودة إلى الرئيسية
        include imports/footer.pug