nav#main-nav
    .container
        .bars#burger
            span 
            span 
            span
        ul.options#options
            ul.sections
                li #[i.fas.fa-home] #[a(href="") الصفحة الرئيسية]
                li #[i.fab.fa-html5] #[a(href="") Web DEVELOPMENT]
                li #[i.fas.fa-laptop-code] #[a(href="") PC APPLICATIONS] 
                li #[i.fas.fa-gamepad] #[a(href="") GAMES   ]
                li #[i.fas.fa-database] #[a(href="") DATABASE ]
                li #[i.fas.fa-stopwatch] #[a(href="") HACKING  ]
            li.border #[i.fas.fa-headphones-alt] #[a(href="") اتصل بنا]
            li #[i.fas.fa-handshake] #[a(href="") إتفاقية المستخدم]
            li #[i.fas.fa-user-lock] #[a(href="") سياسة الخصوصية]
        ul.features
            li#mainSearch #[input(type="text")]
            li#changeTheme #[i.far.fa-sun]