.paddinger
    nav#main-nav
        .container
            .bars#burger
                span 
                span 
                span
            ul.options#options
                ul.sections
                    li #[i.fas.fa-home] #[a(href="index.html") الصفحة الرئيسية]
                    li #[i.fab.fa-html5] #[a(href="") Web DEVELOPMENT]
                    li #[i.fas.fa-laptop-code] #[a(href="") PC APPLICATIONS] 
                    li #[i.fas.fa-gamepad] #[a(href="") GAMES]
                    li #[i.fas.fa-database] #[a(href="") DATABASE ]
                    li #[i.fas.fa-user-secret] #[a(href="") HACKING  ]
                li.border #[i.fas.fa-headphones-alt] #[a(href="contactUs.html") اتصل بنا]
                li#li #[i.fas.fa-handshake] #[a(href="agreement.html") إتفاقية المستخدم]
                li #[i.fas.fa-user-lock] #[a(href="policy.html") سياسة الخصوصية]
            ul.features
                li#mainSearch #[input(type="text")]
                li#changeTheme #[i.far.fa-sun]
script(src='js/main-nav.js')